.navbar_container {
    width: 100%;
    min-width: 100%;
    height: 70px;
    background: var(--color1);
    display: flex;
    justify-content: center;
}

.navbar_content {
    width: 80%;
    height: 100%;
    display: flex;
}

.links {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.individual_link {
    color: var(--color2);
    position: relative;
    font-size: 30px;
    transition: .5s;
    font-family: 'Montserrat';
    font-weight: 800;
}

.individual_link::after {
    display: block;
    position: relative;
    content: '';
    width: 5px;
    height: 2px;
    background: white;
    opacity: 0;
    transition: .2s;
}

.individual_link:hover::after {
    opacity: 1;
    width: 100%;
}

.login_button {
    font-size: 35px;
    color: var(--color2);
    cursor: pointer;
    position: relative;
    transition: .2s;
}

.login_button:hover {
    color: var(--color3);
}

.links #login {
    display: flex;
}

.links #login::after {
    content: 'Login';
    position: relative;
    color: var(--color3);
    display: block;
    font-size: 20px;
    opacity: 0;
    transition: .2s;
}

.links #login:hover::after {
    transform: translateX(2px);
    opacity: 1;
}

.logout_button {
    font-size: 35px;
    color: var(--color2);
    cursor: pointer;
    position: relative;
    transition: .2s;
}

.logout_button:hover {
    color: var(--color3);
}

.links #logout {
    display: flex;
}

.links #logout::after {
    content: 'Logout';
    position: relative;
    color: var(--color3);
    display: block;
    font-size: 20px;
    opacity: 0;
    transition: .2s;
}

.links #logout:hover::after {
    transform: translateX(2px);
    opacity: 1;
}

.user_name {
    color: white;
    width: 50px;
    font-size: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media only screen and (max-width: 991px) {
    .navbar_content {
        width: 100%;
    }

    .individual_link {
        font-size: 20px;
    }

    .logout_button {
        font-size: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .links #login::after {
        display: none;
    }

    .links #logout::after {
        display: none;
    }
}