.login_container {
    width: 100%;
    min-width: 100%;
    height: calc(100vh - 70px);
    background: rgb(45, 45, 45);
    display: flex;
    justify-content: center;
}

.login_content {
    margin-top: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_header {
    color: white;
    font-family: 'Poppins';
    margin: 20px 0px;
    text-align: center;
}

.google_login {
    margin: 10px 0px;
}

.login {
    font-size: 20px;
    padding: 10px;
    background: #4285F4;
    font-family: 'Poppins';
    color: white;
    box-shadow: 3px 3px 5px black;
    cursor: pointer;
    transition: .5s;
}

.login:hover {
    color: #4285F4;
    background: rgb(45, 45, 45)
}